{% extends "base.html" %}
{% block title %}关于我们{% endblock %}
{% block main %}
    <div id="main">
        {% include 'sidebar.html' %}
        <div id='content'>
            <div class='panel'>
                <div class='header'>
                    <ul class='breadcrumb'>
                        <li><a href='/'>主页</a><span class='divider'>/</span></li>
                        <li class='active'>关于</li>
                    </ul>
                </div>
                <div class='inner topic'>
                    <div class="topic_content markdown-text">
### 关于
网站参考 CNode ，在实现过程中增加了很多自己的想法
### 更新
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'markdown.html' %}
{% endblock %}