{% extends "base.html" %}
{% block title %}{{ topic.title }}{% endblock %}
{% block main %}
    <div id="main">
        <div id="content">
            <div class='panel'>
                <div class='header topic_header'>
        <span class="topic_full_title">
			{{ topic.title }}
      	</span>
                    <div class="changes">
            <span>
                发布于
                <span class="gua-time" data-created_time="{{ topic.created_time }}"></span>
            </span>
                        <span>
                {% set u = topic.user() %}
                作者
                <a href="{{ url_for('index.user_detail',id=u.id) }}">{{ u.username }}</a>
        	</span>
                        <span>
                        {{ topic.views }} 次浏览
                    </span>
                        {% set b = topic.board() %}
                        <span>
                        来自
                        <a href="{{ url_for('topic.index',board_id=b.id) }}">{{ b.title }}</a>
                    </span>
                    </div>
                </div>

                <div class='inner topic'>
                    <div class='topic_content'>
                        <div class="markdown-text">{{ topic.content }}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class='panel'>
            <div class='header'>
            <span class='col_fade'>
                <!-- 过滤器 -->
                {{ topic.replies() | count }} 回复
            </span>
            </div>
            {% for r in topic.replies() %}
                {% set u = r.user() %}
                <div class='cell reply_area reply_item' id="{{ loop.index }}">
                    <div class='author_content'>
                        <div class='user_info'>
                            <a class='dark reply_author'>
                                {{ u.username }}
                            </a>
                            <a class="reply_time">
                                {{ loop.index }}楼 / {{ loop.length }}楼 •
                                <span class="gua-time" data-created_time="{{ r.created_time }}"></span>
                            </a>
                        </div>
                        <div class='user_action'>
                    <span>
                        <i class="fa up_btn
                          fa-thumbs-o-up
                          invisible" title="喜欢"></i>
                        <span class="up-count">
                        </span>
                    </span>
                        </div>
                    </div>
                    <div class='reply_content from-leiwei1991'>
                        <div class="markdown-text">{{ r.content }}</div>

                    </div>
                </div>
            {% endfor %}
            <a href="#top">回到顶部</a>
            <div>
                <form action="{{ url_for('reply.add') }}" method="post">
                    <input type="hidden" name="topic_id" value="{{ topic.id }}">
                    <textarea name="content"></textarea>
                    <button>添加回复</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
